* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .header {
    background-color: #000000;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .abhi{
    border-radius: 8px;
    border: 2px solid;
    
  }
  
  .logo h1 {
    color: #ffffff;
    font-size: 24px;
  }
  
  nav a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .user-icon {
    font-size: 24px;
  }
  
  .hero {
    background-color: #e8f5fa;
    padding: 100px 50px;
    text-align: center;
    background-image: url("");
    background-size:cover;

  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
  }
  
  .search-bar input, .search-bar button {
    margin: 10px 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-bar button {
    background-color: #ff5e00;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
  }
  
  .info-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #ffffff;
  }
  
  .info-card {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .info-card h3 {
    color: #ff5e00;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .info-card p {
    color: #000000;
    font-size: 16px;
  }
  .ab{
    background-color: #000000;
    width: 100%;
    padding: 32px;;
  }
 a{
    text-decoration: none;
    color: white;
  }
  